.meme-input {
  border-radius: 8px;
  height: 2rem;
  width: 20vw;
  cursor: pointer;
}

.meme-save-button, 
.text-color-button {
  margin-left: 0.5rem;
  height: 2.5rem;
  width: 8rem;
  color: black;
  box-shadow: 0px 4px 15px -4px rgba(234, 134, 12, 0.893);
  text-decoration: none;
  max-height: 10vh;
  background-color: ghostwhite;
  border-radius: 8px;
}

.meme-save-button:hover, 
.text-color-button:hover {
  transition: 2s;
  background-color: #fd6a02;
  cursor: pointer;
}
.meme-save-button:disabled,
.text-color-button:disabled {
  transition: 5s;
  box-shadow: none;
  cursor: auto;
  color: gray;
  background-color: rgb(219, 219, 219);
}

.form-container,
.container {
  display: flex;
  flex-direction: row;
}

.container {
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 52px) and (max-width: 976px) {
  .form-container{
    flex-direction: column;
  }


  .meme-input{
    width: 90vw;
    margin: 0;
  }

  .meme-save-button{
    width: 91vw;
    margin: 0;
    margin-top: 1rem;
  }
}