html {
  box-sizing: border-box;
  overflow: hidden;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./background-image.png')
}