

.cards-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box; 
  width: 75wv;
  margin-left: 3rem;
  margin-top: 3rem;
}

.image p {
  display:flex;
  flex-wrap: wrap;
  width: 250px;
  height: auto;
}

.images {
  width: 250px;
  height: 350px;
  margin: 1rem;
  border-radius: 8px;
}

.images:hover {
  animation: pop 0.2s linear 1;
  display:inline-block;
  margin:0.4em;  padding:.2em;
  transform: scale(1);
  transition: all .4s ease-in-out;
}

.card-titles {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: black;
}