.description {
  text-align: start;
  flex-direction: column;
  grid-area: text;
}

.description p, 
.description h1 {
  margin-left: 2rem;
}

h2 {
  margin-bottom: 0;
  font-size: 7vw;
  margin-left: 2rem;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0px; 
  grid-row-gap: 0px;  
  grid-area: gallery;
}

.images {
  max-width: 20vw;
  border-radius: 8px;
}

.right-arrow {
  font-size: 2.4vw;
}

.description-container {
  display: grid;
  grid-template-areas: 
    "text gallery gallery gallery gallery"
    "text gallery gallery gallery gallery"
    "text gallery gallery gallery gallery";
}

@media screen and (max-width: 900px) {
  .images-container {
    grid-template-columns: 1fr 1fr;
  }
}

.error-message {
  grid-area: gallery;
  margin-top: 20%;
  margin-right: 20%;
}