.navbar {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid black;
}

a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.link:hover,
.link:active {
    color: #FD6A02;
}