.my-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px; 
    grid-row-gap: 15px;  
    background-image: linear-gradient(white, #aaa); 
    max-width: 100vw; 
    padding: 8px;
    height: 100vh;
}

@media screen and (max-width: 800px) {
    .my-gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .my-gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}