.memeTitle {
    display: flex;
    text-align: center;
    font-size: 150%;
    max-width: 20vw;
    hyphens: auto;
}

  .meme-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 65vh;
    max-height: 65vh;
    overflow: none;
    box-shadow: 0px 15px 5px -5px rgba(0,0,0,0.2);
    z-index: 6;
  }

  .meme-delete-button {
    align-self:auto;
    z-index: 0;
    position: absolute;
  }

  .meme-delete-button:hover {
    cursor: pointer;
  }

  .meme-card:hover {
    transform: translateY(-10px);
    transition: transform 250ms;
    z-index: 1;

  }

