.meme-title {
    display: flex;
    text-align: center;
    font-size: 150%;
    color: white;
    max-width: 20vw;
}

  .meme-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 65vh;
    overflow: none;
    box-shadow: 0px 15px 5px -5px rgba(0,0,0,0.2);
    transition: transform 250ms;
  }

  .meme-card:hover {
    transform: translateY(-10px);
  }
