.meme-container {
  display: flex;
}

.painting-details-container {
  height: auto;
  width: 80%
}

.individual-painting {
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px -4px rgba(234, 134, 12, 0.893);
  box-sizing: border-box;
  display: flex;
  transition: 1s;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8em;
  margin-left: 6em;
  margin-right: 6em;
}

.individual-painting-img {
  display: flex;
  justify-content: center;
  height: 600px;
  border-radius: 10px;
  color: black;
  margin-left: 5px;
}

.painting-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 50%;
  width: 30%
}

.individual-painting-title {
  display: flex;
  color: black;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  padding-left: 2em;
  padding-right: 2em;
}

.individual-painting-artist, 
.individual-painting-date {
  display: flex;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}

.individual-painting-description {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: large;
  padding-left: 2em;
  padding-right: 2em;
}

.meme-title {
  display: flex;
  position: absolute;
  top: 28rem;
  left: 8.8rem;
  font-size: 3rem;
  color: white;
  inline-size: 20.2rem;
  word-break: break-all;  
  max-width: 100%;
}

.meme-form {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: center;
}

.home-button {
  font-size: 3rem;
  right: 2%;
  position: fixed;
  top: 12%;
  border-radius: 20%;
  -webkit-filter: invert(50%);
}

.home-button:hover {
  transition: 1s;
  background-color: #FD6A02;
}

@media screen and (min-width:1110 ) and (max-width: 1200px) {
  .individual-painting {
    margin: 10px;
  }
  .individual-painting-img {
    border-radius: 10px;
    height:550px;
  }
  .meme-form {
    justify-content: center;
  }
}

@media screen and (max-width: 1000px){
  .individual-painting {
    flex-direction: column;
    margin: 10px;
  }

  .meme-title {
    top: 20rem;
    left:20rem;
    font-size: 2.5rem;   
  }
}


@media screen and (max-width: 525px) {
  .meme-title {
    top: 18rem;
    left:2rem;
    font-size: 2.5rem;   
  }
  .individual-painting {
    transition: 1s;
    flex-direction: column;
    margin: 10px;
  }

  .home-button {
    font-size: 3rem;
    right: 2%;
    position: fixed;
    top: 12%;
    border-radius: 20%;
  }
  .individual-painting{
    width: 100vw;
  }

  .individual-painting-img {
    border-radius: 10px;
    width: 100vw;
  }
}

@media screen and (min-width: 536px) and (max-width: 760px) {

  .meme-title {
    top: 18rem;
    left:12rem;
    font-size: 2.5rem;    
  }

  .individual-painting-img {
    border-radius: 10px;
    height:550px;
  }

}
