.meme-container {
  display: flex;
}

.painting-details-container {
  height: auto;
  width: 80%
}

.individual-painting {
  align-items: center;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px -4px rgba(234, 134, 12, 0.893);
  box-sizing: border-box;
  display: flex;
  transition: 1s;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 8em;
  margin-left: 6em;
  margin-right: 6em;
}

.individual-painting-img {
  height: 500px;
  border-radius: 10px;
  color: black;
  margin-top: 4rem;
}

.painting-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 50%;
  width: 30%
}

.individual-painting-title {
  display: flex;
  color: black;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  padding-left: 2em;
  padding-right: 2em;
}

.individual-painting-artist, 
.individual-painting-date {
  display: flex;
  color: black;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-style: italic;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}

.individual-painting-description {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: large;
  padding-left: 2em;
  padding-right: 2em;
}

.meme-title {
  display: flex;
  position: absolute;
  bottom: 15rem;
  font-size: 2rem;
  color: white;
  inline-size: 18rem;
  /* word-break: break-all;   */
  hyphens: auto;
  max-width: 100%;
  margin-left: 20px;
}

.meme-form {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  justify-content: center;
}

.home-button {
  font-size: 3rem;
  z-index: 2;
  right: 2%;
  position: absolute;
  top: 12%;
  border-radius: 20%;
}

.home-button:hover {
  transition: 1s;
  background-color: #FD6A02;
}

.painting-title-container {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 1340px){
  .individual-painting {
    flex-direction: column;
    margin: 10px;
  }
}

@media screen and (max-width: 900px){
  .individual-painting-img {
    width: 95vw;
   
  }

  .individual-painting{
    width: 95vw;
  }

  .painting-title-container{
    height: 60vh;
  }
}
